@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root {
    --clr-logo: hsl(164, 7%, 30%);
    --clr-small: rgb(115, 90, 90);
}
.navbar {
    display: flex;
    height: 80px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.4);
    transition: .6s;
}
.navbar .navbar-menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 500px;
}
.navbar h1 {
    color: var(--clr-logo);
}
a {
    cursor: pointer;
    color: var(--clr-small);
    text-decoration: none;
    font-weight: 600;
}
.navbar a {
    font-size: 15px;
}
#flex-bag {
    display: flex;
    width: 70px;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: black;
    color: #fff;
}
.footer-social {
    padding: 20px;
    width: 100%;
}
.footer-social ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.footer-social ul a {
    color: #fff;
    font-size: 20px;
}
.active-links {
    color: red;
}
.home-page {
    display: flex;
    height: 80vh;
    width: 100%;
    background: url("../../../public/1.png");
    /* background-color: khaki; */
    background-repeat: no-repeat;
    background-size: cover;
}
.home-card {
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 500px;
}
.home-card h1 {
    font-size: 3rem;
    margin: 10px 0px;
}
.red {
    color: red;
}
.navbar--mobile {
    display: none;
}
.navbar--mobile-height {
    display: none;
}
.home-card p {
    font-size: 18px;
}
.home-button {
    padding: 10px 30px;
    width: 50px;
    text-align: center;
    background-color: red;
    color: #fff;
    margin-top: 30px;
    border-radius: 5px;
}
.home-explore {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-explore h1 {
    font-size: 4rem;
}
.underline {
    border-bottom: 4px solid red;
    margin-top: 30px;
    width: 130px;
}
.home-image {
    width: 400px;
    height: 250px;
    border-radius: 5px;
}
.cards-lists {
    padding: 20px;
    display: flex;
}
.home-desc {
    flex-direction: column;
    padding: 10px;
}
.home-cat {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}
.svg {
    display: none;
}
.home-cat h1 {
    margin: 0px 10px;
    color: rgba(0, 0, 0, 0.6);
}
.home-desc p {
    font-size: 17px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
.home-link {
    color: black;
}
.statue-list {
    padding: 20px;
}
.statue-title {
    font-size: 4rem;
    text-align: center;
}
.statue-cards {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
.statue-card {
    border-radius: 50%;
    background-color: var(--clr-logo);
    color: #fff;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media screen and (max-width: 1024px){
    .statue-card {
        width: 250px;
        height: 250px;
        font-size: 1rem;
    }
    .statue-list .statue-cards {
        display: flex;
        justify-content: space-around;
    }
    .statue-title {
        font-size: 3rem;
    }
    .home-explore h1 {
        font-size: 3rem;
    }
    .home-desc p {
        font-size: 0.8rem;
    }
    .home-desc .home-cat h1 {
        font-size: 1.2rem;
    }
    .home-image {
        width: 300px;
        height: 200px;
    }
}
@media screen and (max-width: 768px){
    .navbar {
        display: none;
    }
    .navbar--mobile {
        display: flex;
        justify-content: space-around;
        height: 80px;
        align-items: center;
    }
    .svg {
        height: 30px;
        color: black;
        font-size: 25px;
    }
    .hide-bar {
        display: none;
    }
    .show-bar {
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .navbar--mobile {
        display: flex;
        flex-direction: column;
    }
    .navbar-flex {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    .svg {
        display: block;
    }
    .navbar--mobile-height {
        width: 100%;
         min-height: 200px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
        transition: all .5s;
        padding: 20px 0px;
    }
    .navbar--mobile {
        transition: all .5s;
    }
    a {
        color: black;
    }
    .navbar--mobile-height .show-bar {
        width: 100%;
        display: flex;
        /* transition: all .5s; */
    }
    .navbar--mobile-height .show-bar ul{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    .navbar--mobile-height .show-bar ul a {
        padding: 20px;
    }
    .home-card h1 {
        font-size: 2rem;
    }
    .home-card p {
        font-size: 1rem;
    }
    .statue-title {
        font-size: 2rem;
        margin-top: 20px;
    }
    .statue-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .statue-card {
        margin-top: 20px;
    }
    .cards-lists {
        display: flex;
        flex-direction: column;
    }
    .home-image {
        width: 100%;
        height: auto;
    }
    .home .home-explore h1 {
        font-size: 1.5rem;
    }
}
.not-found {
    display: flex;
    flex-direction: column;
    height: 80.4vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.not-found h1 {
    margin: 20px;
}
.not-found a {
    padding: 10px 30px;
    background-color: red;
    color: #fff;
    border-radius: 5px;
}
.product-land{
    background: url("../../../public/products.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.product-wel {
    padding: 40px;
    background-color: var(--clr-logo);
    color: #fff;
    border-radius: 5px;
    margin-left: 20px;
    width: 500px;
}
.product-wel h1 {
    font-size: 3rem;
    margin-top: 10px;
}
.product-wel p {
    padding: 10px;
    margin-bottom: 20px;
}
.product-wel a {
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid #fff;
    margin-top: 20px;
    color: #fff;
    transition: all 0.5s;
}
.product-wel a:hover {
    background-color: #fff;
    color: #000;
}
@media screen and (max-width: 768px){
    .product-land {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-wel {
        width: 350px;
    }
}
.discount {
    padding: 20px;
}

.discount-title {
    font-size: 2rem;
}
.discount-cards {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.discount-card {
    padding: 10px;
    background-color: lightcyan;
    margin: 0px 5px;
    border-radius: 10px;
}
.discount-card.first .discount-price {
    color: blueviolet;
}
.discount-card.first .discount-save {
    color: royalblue;
}
.discount-card.first .discount-text {
    color: rgb(16, 16, 150);
}
.discount-card.second .discount-price {
    color: rgb(112, 80, 5);
}
.discount-card.second .discount-save {
    color: rgb(86, 125, 241);
}
.discount-card.second .discount-text {
    color:red;
}
.discount-card.third .discount-price {
    color: rgb(200, 25, 92);
}
.discount-card.third .discount-save {
    color: rgb(179, 0, 164);
}
.discount-card.third .discount-text {
    color: rgb(255, 255, 255);
}
.discount-card.fourth .discount-price {
    color: rgb(242, 129, 173);
}
.discount-card.fourth .discount-save {
    color: rgb(3, 255, 3);
}
.discount-card.fourth .discount-text {
    color: rgb(0, 0, 0);
}
.discount-card.fourth {
    background-color: lightgoldenrodyellow;
}
.discount-card.third {
    background-color: lightslategrey;
}
.discount-card.second {
    background-color: rgb(131, 186, 241);
}
.discount-title {
    margin: 10px 0px;
}
@media screen and (max-width: 1024px){
    .discount-cards {
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .discount-card {
        margin-top: 10px;
    }
}
@media screen and (max-width: 768px){
    .discount-cards {
        display: grid;
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width: 550px){
    .discount-cards {
        display: flex;
        flex-direction: column;
    }
    .product-wel {
        height: 300px;
        width: 200px;
    }
    .product-land {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-wel h1 {
        font-size: 1rem;
    }
}
.filter-product {
    display: flex;
    flex-direction: column;
    padding: 20px;
    list-style: none;
}
.filter-product ul {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
}
.filter-product ul li {
    margin: 10px 0px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: .6s;
}
.filter-product ul li:hover {
    background-color: #000;
}
.filter-title {
    font-size: 3rem;
}
@media screen and (max-width: 1024px){
    .filter-product ul {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto;
    }
    .filter-title {
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 768px){
    .filter-product ul {
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .filter-title {
        font-size: 1rem;
    }
}
.product-image img {
    width: 250px;
    height: 250px;
    border-radius: 5px;
}
.product-card {
    padding: 20px;
    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.4);
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-card a {
    color: #000;
}
.product-details {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.product-details span {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: line-through;
}
.all-products {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.product-details h1 {
    font-size: 1rem;
}
.product-card-btn {
    justify-content: center;
    align-items: center;
    display: flex;
}
.product-card-btn button {
    padding: 5px 30px;
    border: 2px solid blueviolet;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: .6s;
    font-weight: 600;
    margin: 10px 0px;
}
.product-card-btn button:hover {
    background-color: blueviolet;
    color: #fff;
}
.single-product-page {
    display: flex;
    padding: 20px;
}
.product-images img {
    width: 600px;
    height: 500px;
    border-radius: 5px;
}
.products-images img {
    width: 300px;
    height: 300px;
}
.single-details {
    padding: 20px;
}
.single-details .product-name {
    font-size: 1.5rem;
    padding: 15px 0px;
}
.single-price {
    font-size: 1.2rem;
    padding: 15px 0px;
}
.s-details-review {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    font-size: .8rem;
}
.review-amount {
    margin-top: 3px;
    margin-left: 5px;
}
.single-btn {
    display: flex;
    width: 100%;
}
.single-text {
    padding: 20px 0px;
}
.add-to-cart {
    margin-left: 20px;
    padding: 10px 100px;
    cursor: pointer;
    background-color: blueviolet;
    color: #fff;
    border-radius: 4px;
    border: none;
}
.cart-amount-btn {
    padding: 10px 15px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.6);
}
.single-btn {
    padding: 20px 0px;
}
.all-card {
    padding: 10px;
    position: relative;
}
.back-btn {
    color: #000;
    padding: 20px;
    display: flex;
    align-items: center;
}
.back-btn-icon {
    margin-right: 5px;
}
@media screen and (max-width: 1024px){
    .all-products {
        grid-template-columns: auto auto auto;
    }
    .product-card .product-image img {
        width: 210px;
        height: 210px;
    }
}
@media screen and (max-width: 768px){
    .all-products {
        grid-template-columns: auto auto;
    }
    .product-card .product-image img {
        width: 200px;
        height: 200px;
    }
    .product-card .product-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 660px){
    .all-products {
        grid-template-columns: auto;
    }
    .filter-product ul {
        grid-template-columns: auto auto;
    }
    .filter-product ul li {
        background-color: transparent;
        color: #000;
        font-size: .8rem;
    }
    .filter-product ul li:hover {
        background-color: transparent;
    }
}
@media screen and (max-width: 1024px){
    .product-images img {
        width: 450px;
        height:450px;
    }
    .products-images img {
        height: 200px;
        width: 200px;
    }
    .add-to-cart {
        padding: 10px 20px;
        flex-wrap: nowrap;
    }
}
@media screen and (max-width: 768px){
    .product-images img {
        width: 300px;
        height: 300px;
    }
    .products-images img {
        height: 150px;
        width: 150px;
    }
    .single-product-page {
        display: flex;
        flex-direction: column-reverse;
    }
    .single-btn button {
        padding: 10px 15px;
        font-size: .5rem;
    }
    .single-btn .add-to-cart {
        padding: 10px 20px;
    }
    .single-text {
        font-size: .8rem;
    }
}
@media screen and (max-width: 425px){
    .product-images img {
        width: 260px;
        height: 260px;
    }
    .products-images img {
        height: 130px;
        width: 130px;
    }
}
.bag-lists {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.bag-card {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.6);
    margin: 20px 0px;
}
.bag-card .bag-image {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}
.bag-details {
    padding: 20px;
}
.bag-card h1 {
    font-size: 1rem;
    padding: 5px 0px;
}
.bag-btn {
    display: flex;
}
.bag-btn button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid blueviolet;
    border-radius: 5px;
    margin: 0px 5px;
    transition: .6s;
}
.bag-btn button:hover {
    background-color: blueviolet;
    color: #fff;
}
.bag-remove {
    background-color: transparent;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 30px;
    transition: .6s;
    border: none;
}
.bag-remove:hover {
    color: red;
}
.bag-total {
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: space-around;
}
.bag-total h1 {
    font-size: 1.3rem;
}
.clear-bag {
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: .6s;
    font-size: 15px;
    background-color: transparent;
    color: #000;
    border: 2px solid black;
}
.clear-bag:hover {
    color: #fff;
    background-color: red;
    border: 2px solid red;
}
.empty-bag {
    height: 71.3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.empty-bag a {
    padding: 10px 30px;
    border-radius: 4px;
    border: 3px solid lime;
    margin-top: 30px;
    color: #000;
    transition: .6s;
}
.empty-bag a:hover {
    background-color: lime;
    color: #fff;
}
.product-black {
    color: #000;
}
@media screen and (max-width: 768px){
    .bag-card {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .bag-card h1, button, img  {
        padding: 10px 0px;
    }
    .bag-total {
        justify-content: space-between;
    }
    .bag-total h1 {
        font-size: .7rem;
    }
    .bag-total .clear-bag {
        padding: 10px;
        font-size: 1rem;
        font-weight: 100;
        color: #000;
    }
}
.visit-my-bag {
    padding: 20px 0px;
    height: 100px;
    position: relative;
}
.visit-my-bag a {
    padding: 20px 0px;
    color: #000;
    position: absolute;
    display: flex;
    align-items: center;
}
.visit-my-bag a .icon {
    margin-left: 10px;
    font-size: 20px;
}
.added-message {
    position: fixed;
    padding: 15px 100px;
    background-color: lightblue;
    right: 30px;
    top: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lime;
    transition: .6s;
}
.added-message.hide {
    right: -500px;
}
.added-message h1 {
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
}
@media screen  and (max-width: 768px){
    .added-message h1 {
        font-size: .8rem;
    }
    .added-message {
        padding: 10px 100px;
    }
}
.nav-total {
    font-size: 12px;
    margin-bottom: 30px;
    margin-right: 18px;
    position: absolute;
}
.help-navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
}
#bag-icon {
    font-size: 22px;
}
.help-image {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: blueviolet;
}
.help-image input {
    padding: 15px 10px;
    width: 300px;
    border-radius: 5px;
    border: 2px solid var(--clr-logo);
    outline: none;
}
.help-image button {
    padding: 15px 40px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--clr-logo);
    color: #fff;
    border: 2px solid var(--clr-logo);
    transition: .6s;
}
.help-image button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
.help-image h1 {
    margin-bottom: 30px;
}
.help-desk {
    padding: 30px;
}
.desk-list {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.desk-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    text-align: center;
    padding: 10px;
}
.desk-title {
    font-size: 1.4rem;
    color: var(--clr-logo);
}
.desk-text {
    font-size: .9rem;
    padding: 10px 0px;
    font-weight: 100;
}
.desk-icon {
    font-size: 70px;
    padding: 10px 0px;
}
.desk-link {
    color: rgb(44, 44, 194);
}
@media screen and (max-width: 768px){
    .desk-list {
        display: flex;
        flex-direction: column;
    }
    .help-image input {
        padding: 10px 20px;
        width: 200px;
    }
    .help-image button {
        padding: 10px 20px;
    }
    .help-image h1 {
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 450px){
    .desk-card {
        width: 300px;
    }
    .help-desk h1 {
        font-size: 1.7rem;
    }
    .desk-text {
        font-size: .8rem;
    }
    .desk-card .desk-title {
        font-size: 1.5rem;
    }
    .desk-card .desk-link {
        font-size: .9rem;
    }
    .help-image input {
        padding: 8px;
        width: 150px;
    }
    .help-image button {
        padding: 8px;
    }
}
.about-header {
    height: 32.9vh;
    display: flex;
    justify-content: baseline;
    align-items: end;
    padding: 20px;
    background: url("../../../public/about.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.about-main {
    padding: 20px;
    width: 70%;
}
.about-title {
    padding: 20px 0px;
    color: var(--clr-logo);
}
.about-text {
    font-size: 1rem;
    font-weight: 100;
}
@media screen and (max-width: 425px){
    .about-title {
        font-size: 1rem;
    }
    .about-main {
        width: 80%;
    }
    .about-main .about-text {
        font-size: .8rem;
    }
}
.dark {
    background-color: #111111;
}
.dark a {
    color: #fff;
}
.dark .navbar {
    box-shadow: 3px 5px 7px rgba(255, 255, 255, 1);
}
.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6, .dark p {
    color: #fff;
}
.dark .active-links {
    color: red;
}
.dark .home-page h1 {
    color: #000;
}
.dark .home-page .red {
    color: red;
}
.dark .home-page p {
    color: #000;
}
.dark .cards-lists {
    box-shadow: rgba(255, 255, 255, 1);
}
.dark .desk-link {
    color: blueviolet;
}
.dark .navbar.dark {
    box-shadow: 3px 5px 7px rgba(255, 255, 255, .9);
}

.dark .filter-product ul li {
    background-color: rgba(255, 255, 255, .8);
    color: #000;
}
.dark .filter-product ul li:hover {
    background-color: #fff;
}
.dark .product-card {
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 3px 5px 7px rgba(255, 255, 255, .1);
}
.product-card {
    border-radius: 10px;
}
.dark .product-card button {
    color: #fff;
}
.dark .product-details span {
    color: rgba(255, 255, 255, .5);
}
.dark .bag-card {
    box-shadow: 1px 3px 5px rgba(255, 255, 255, .3);
}
.dark .clear-bag {
    color: #fff;
    border: 2px solid #fff;
}
.dark .clear-bag:hover {
    border: 2px solid red;
}
.dark .bag-btn button {
    color: #fff;
}
.dark .bag-remove {
    color: #fff;
}
.dark .svg{
    color: #fff;
}
.dark .navbar-flex .svg {
    color: #fff;
}
.dark .desk-icon {
    color: #fff;
}
.dark .help-image {
    background-color: #121212;
}
.dark .help-image section button {
    background-color: #fff;
    color: #000;
    font-weight: 600;
}
.dark ,.dark .navbar, .dark .navbar--mobile, .dark .navbar--mobile-height {
    background-color:  #151515;
}
.dark.help-navbar {
    background-color: #111111;
}
.Bag-buy {
    padding:  10px 50px;
    cursor: pointer;
    color: #000;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    border: 2px solid lime;
    transition: .6s;
    font-weight: 600;
}
.dark .bag-remove:hover {
    color: red;
}
.Bag-buy:hover {
    background-color: lime;
    color: #fff;
}
.contact {
    padding: 20px;
}
.contact-cards {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contact-card {
    width: 250px;
    padding: 60px 20px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.dark .contact-card {
    border: 1px solid rgba(255, 255, 255, .9);
}
.contact-card p {
    padding: 20px 0px;
    color: rgba(0, 0, 0, 0.7);
}
.dark .contact-card p{
    color: rgba(255, 255, 255, .7);
}
.contact-card a {
    color: rgb(125, 125, 224);
}
.contact-main {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-main section {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
    position: relative;
}
.contact-main p {
    color: rgba(0, 0, 0, 0.7);
}
.dark .contact-main p {
    color: rgba(255, 255, 255, .7);
}
.contact-main h1 {
    padding: 30px 0px;
    font-size: 3rem;
}
.contact-main h4 {
    padding-bottom: 20px;
    line-height: 30px;
    font-weight: 100;
}
.contact-real {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.real-card {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 20px;
    width: 200px;
}
.real-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.real-card h5 {
    font-weight: 100;
    margin-top: 10px;
}
.real-card h2 {
    padding: 10px 0px;
}
@media screen and (max-width: 1024px){
    .contact-cards {
        justify-content: space-between;
    }
    .contact-card {
        width: 200px;
        height: 150px;
    }
    .contact-card h1 {
        font-size: 1.5rem;
    }
    .contact-real {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width: 768px){
    .contact-cards {
        display: grid;
        grid-template-columns: auto auto;
    }
    .contact-card {
        margin: 20px 0px;
    }
    .contact-real {
        grid-template-columns: auto auto;
    }
    .contact-main section h1 {
        font-size: 2rem;
    }
}
@media screen and (max-width: 570px){
    .contact-cards {
        display: flex;
        flex-direction: column;
    }
    .contact-real {
        grid-template-columns: auto;
    }
    .contact-main section h1 {
        font-size: 1.5rem;
    }
    .contact-main section h4 {
        font-size: .9rem;
        line-height: 25px;
        font-weight: 100;
    }
    .contact-main section p {
        font-size: .9rem;
    }
}
@media screen and (max-width: 768px){
    .bag-total .clear-bag, .Bag-buy {
        padding: 10px;
        font-size: .8rem;
        margin: 10px 0px;
        text-align: center;
    }
    .bag-total {
        display: grid;
        grid-template-columns: auto auto;
    }
    .bag-total h1 {
        font-size: 1.1rem;
    }
}
.dark .Bag-buy {
    color: #fff;
}
.purchase {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.purchase-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.purchase-header h1  {
    margin-left: 10px;
}
.purchase-icon {
    font-size: 22px;
}
.dark.purchase {
    background-color: rgba(0, 0, 0, 0.9);
}
.dark .purchase-icon {
    color: #fff;
}
.purchase-flex {
    display: flex;
    justify-content: space-between; 
    align-items: start;
    width: 100%;
}
.purchase-card {
    display: flex;
    flex-direction: column;
    width: 65%;
}
.purchase-card img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}
.purchase-details {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-between;
    align-items: start; 
    width: 100%;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    padding: 10px 0px;
    margin: 20px 0px;
    text-align: center;
}
.bottom-details {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
}
.purchase-h1 {
    font-weight: 100;
    font-size: 1rem;
}
.purchase-button {
    display: flex;
    width: 100%;
    padding: 10px;
}
.purchase-button button {
    padding: 10px 15px;
    background-color: transparent;
    color: #000;
    border: none;
    cursor: pointer;
}
.dark .purchase-button button {
    color: #fff;
}
.dark .purchase-details {
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
}
.purchase-all-cards {
    display: flex;
    flex-direction: column;
}
.payment{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
.pay-card {
    display: flex;
    flex-direction: column;
}
.pay-promo {
    margin-bottom: -18px;
    margin-left: 20px;
}
.pay-card div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.pay-card div h1 {
    font-weight: 100;
    font-size: 1rem;
}
.pay-card div h2 {
    font-weight: 100;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.8);
}
.dark .pay-card div h2 {
    font-weight: 100;
    font-size: 1rem;
    color: rgba(255, 255, 255, .8);

}
.pay-ads {
    display: flex;
    flex-direction: column;
}
.pay-ads h2 {
    line-height: 30px;
}
.pay-input input {
    padding: 10px 30px;
    outline: none;
}
.pay-input button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: 2px solid black;
    cursor: pointer;
    font-size: .7rem;
    flex-wrap: nowrap;
}
.dark .pay-input button {
    background-color: #fff;
    border: 2px solid #fff;
    color: #000;
}
.dark.pay-input button {
    padding: 10px 30px;
    outline: none;
    background-color: #fff;
}

.number::-webkit-inner-spin-button, .number::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
.number {
    -moz-appearance: textfield;
}
.pay-final h1 {
    font-weight: 600;
    font-size: 1.4rem;
}
.pay-ads h2 {
    padding-bottom: 20px;
}
.pay-ads h2 span {
    padding: 5px;
    background-color: rgb(83, 83, 255);
    border-radius: 10px;
    color: #fff;
}
.pay-ads h3 {
    font-weight: 100;
    font-size: .9rem;
}
.pay-ads h3 span {
    color: red;
}
.pay-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.pay-btn button {
    padding: 10px 30px;
    border-radius: 5px;
    background-color: rgb(83, 83, 255);
    color: #fff;
    border: none;
    cursor: pointer;
}
.empty-purchase {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
.empty-purchase a {
    padding: 10px 20px;
    background-color: lime;
    margin-top: 20px;
    border-radius: 5px;
    color: #fff;
}
@media screen  and (max-width: 1024px){
    .purchase-details img {
        width: 150px;
        height: 150px;
    }
    .purchase-h1 {
        font-size: .8rem;
    }
    .purchase-name span {
        font-size: .5rem;
    }
    .pay-input input {
        padding: 10px;
        width: 160px;
    }
    .pay-input button {
        padding: 10px;
        font-size: .7rem;
    }
}
@media screen and (max-width:768px){
    .purchase-flex {
        flex-direction: column;
        align-items: center;
    }
    .purchase-card {
        width: 100%;
    }
}
@media screen and (max-width: 425px){
    .purchase-details img {
        width: 80px;
        height: 80px;
        padding-top: 0px;
    }
    .purchase-h1 {
        font-size: .7rem;
    }
    .purchase-details div p {
        font-size: .7rem;
    }
    .pay-promo {
        font-size: .8rem;
    }
    .pay-input input {
        padding: 8px;
        width: 120px;
    }
    .pay-input button {
        padding: 8px;
        width: 60px;
        text-align: center;
    }
    .payment .pay-card .pay-ads h2, span {
        font-size: .77rem;
    }
    .payment .pay-card .pay-ads h3, span {
        font-size: .77rem;
    }
}
.dark.navbar, .dark .navbar--mobile, .dark .navbar--mobile-height {
    background-color: rgba(12, 11, 11);
}
.sharedBag {
    display: flex;
    justify-content: space-around;
    padding: 15px 0px;
}
.azi-pay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.qr-code {
    height: 100px;
    width: 100px;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.credit-page {
    padding: 20px 10px;
    text-align: center;
    border-radius: 10px;
}
.credit-inputs {
    display: flex;
    flex-direction: column;
}
.credit-inputs div {
    margin: 10px 0px;
}
.credit-number {
    display: flex;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    width: 320px;
}
.credit-number input {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 10px;
}
.dark.credit-number  {
    color: #fff;
    border: 1px solid #fff;
}
.credit-street {
    display: flex;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    width: 320px;
}
.credit-street input {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 10px;
}
.credit-optional {
    display: flex;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    width: 320px;
}
.credit-optional input {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 10px;
}
.credit-select {
    display: flex;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    width: 90%;
    width: 320px;
}
.credit-select select {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
}
/* .credit-select select option {

} */
.credit-city {
    display: flex;
}
.credit-city input {
    background-color: transparent;
    border: 1px solid #000;
    outline: none;
    padding: 10px;
    border-radius: 5px;
}
#city {
    width: 150px;
}
#state {
    width: 50px;
    margin: 0px -5px 0px 5px;
}
#zip {
    margin-left: 10px;
    width: 50px;
}
.credit-select select {
    font-size: 17px;
}
.credit-select select option {
    font-size: 17px;
}
.dark .credit-city input {
    border: 1px solid #fff;
}
.dark .credit-inputs div {
    border: 1px solid #fff;
}
.dark .credit-select select {
    color: #fff;
    background-color: #151515;
}
.dark .credit-select section option {
    color: #fff;
    background-color: #111111;
}
.dark .credit-inputs {
    color: #fff;
}
.dark ::placeholder {
    color: rgba(255, 255, 255, .7);
}
.dark input {
    color: #fff;
}
.shared-bag {
    font-size: 1.5rem;
    margin-bottom: 20px;
    background-color: transparent;
}
.active-links {
    color: red;
}

@media screen and (max-width: 768px){
    .credit-number {
        width: 300px;
        padding: 10px;
    }
    .credit-street {
        width: 300px;
        padding: 10px;

    }
    .credit-optional {
        width: 300px;
    }
    .credit-select {
        width: 300px;
    }
    #city {
        width: 30px;
    }
    #zip {
        width: 50px;
    }
    #state {
        width: 30px;
    }
    .credit-page {
        width: 100%;
    }
    .azi-pay h1 {
        font-size: 1rem;
    }
}
@media screen and (max-width: 425px){
    .credit-number {
        width: 200px;
    }
    .credit-optional {
        width: 200px;
    }
    .credit-select {
        width: 200px;
    }
    .credit-street {
        width: 200px;
    }
    .credit-page {
        width: 250px;
    }
    .credit-city {
        display: flex;
        flex-direction: column;
    }
    .credit-city section {
        display: flex;
        flex-direction: column;
    }
    #state {
        margin: 10px 0px;
        width: 100px;
    }
    #zip {
        width: 100px;
    }
    #city {
        width: 100px;
    }
}
.sharedBag {
    background-color: transparent;
}
.credit-page  {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.azi-pay {
    background-color: transparent;
}
.credit-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
option {
    background-color: transparent;
}