@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root {
    --clr-logo: hsl(164, 7%, 30%);
    --clr-small: rgb(115, 90, 90);
}
.navbar {
    display: flex;
    height: 80px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.4);
}
.navbar .navbar-menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 500px;
}
.navbar h1 {
    color: var(--clr-logo);
}
a {
    cursor: pointer;
    color: var(--clr-small);
    text-decoration: none;
    font-weight: 600;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: black;
    color: #fff;
}
.active-links {
    color: red;
}
.home-page {
    display: flex;
    height: 80vh;
    width: 100%;
    background: url("../../../public/1.png");
    /* background-color: khaki; */
    background-repeat: no-repeat;
    background-size: cover;
}
.home-card {
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 500px;
}
.home-card h1 {
    font-size: 3rem;
    margin: 10px 0px;
}
.red {
    color: red;
}
.navbar--mobile {
    display: none;
}
.navbar--mobile-height {
    display: none;
}
.home-card p {
    font-size: 18px;
}
.home-button {
    padding: 10px 30px;
    width: 50px;
    text-align: center;
    background-color: red;
    color: #fff;
    margin-top: 30px;
    border-radius: 5px;
}
.home-explore {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-explore h1 {
    font-size: 4rem;
}
.underline {
    border-bottom: 4px solid red;
    margin-top: 30px;
    width: 130px;
}
.home-image {
    width: 400px;
    height: 250px;
    border-radius: 5px;
}
.cards-lists {
    padding: 20px;
    display: flex;
}
.home-desc {
    flex-direction: column;
    padding: 10px;
}
.home-cat {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}
.svg {
    display: none;
}
.home-cat h1 {
    margin: 0px 10px;
    color: rgba(0, 0, 0, 0.6);
}
.home-desc p {
    font-size: 17px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}
.home-link {
    color: black;
}
.statue-list {
    padding: 20px;
}
.statue-title {
    font-size: 4rem;
    text-align: center;
}
.statue-cards {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
.statue-card {
    border-radius: 50%;
    background-color: var(--clr-logo);
    color: #fff;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media screen and (max-width: 1024px){
    .statue-card {
        width: 250px;
        height: 250px;
        font-size: 1rem;
    }
    .statue-list .statue-cards {
        display: flex;
        justify-content: space-around;
    }
    .statue-title {
        font-size: 3rem;
    }
    .home-explore h1 {
        font-size: 3rem;
    }
    .home-desc p {
        font-size: 0.8rem;
    }
    .home-desc .home-cat h1 {
        font-size: 1.2rem;
    }
    .home-image {
        width: 300px;
        height: 200px;
    }
}
@media screen and (max-width: 768px){
    .navbar {
        display: none;
    }
    .navbar--mobile {
        display: flex;
        justify-content: space-around;
        height: 80px;
        align-items: center;
    }
    .svg {
        height: 30px;
    }
    .hide-bar {
        display: none;
    }
    .show-bar {
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .navbar--mobile {
        display: flex;
        flex-direction: column;
    }
    .navbar-flex {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    .svg {
        display: block;
    }
    .navbar--mobile-height {
        width: 100%;
         height: 200px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
        transition: all .5s;
    }
    .navbar--mobile {
        transition: all .5s;
    }
    a {
        color: black;
    }
    .navbar--mobile-height .show-bar {
        width: 100%;
        display: flex;
        /* transition: all .5s; */
    }
    .navbar--mobile-height .show-bar ul{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    .navbar--mobile-height .show-bar ul a {
        padding: 20px;
    }
    .home-card h1 {
        font-size: 2rem;
    }
    .home-card p {
        font-size: 1rem;
    }
    .statue-title {
        font-size: 2rem;
        margin-top: 20px;
    }
    .statue-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .statue-card {
        margin-top: 20px;
    }
    .cards-lists {
        display: flex;
        flex-direction: column;
    }
    .home-image {
        width: 100%;
        height: auto;
    }
    .home .home-explore h1 {
        font-size: 1.5rem;
    }
}
.not-found {
    display: flex;
    flex-direction: column;
    height: 80.4vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.not-found h1 {
    margin: 20px;
}
.not-found a {
    padding: 10px 30px;
    background-color: red;
    color: #fff;
    border-radius: 5px;
}
.product-land{
    background: url("../../../public/products.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.product-wel {
    padding: 40px;
    background-color: var(--clr-logo);
    color: #fff;
    border-radius: 5px;
    margin-left: 20px;
    width: 500px;
}
.product-wel h1 {
    font-size: 3rem;
    margin-top: 10px;
}
.product-wel p {
    padding: 10px;
    margin-bottom: 20px;
}
.product-wel a {
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid #fff;
    margin-top: 20px;
    color: #fff;
    transition: all 0.5s;
}
.product-wel a:hover {
    background-color: #fff;
    color: #000;
}
@media screen and (max-width: 768px){
    .product-land {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-wel {
        width: 350px;
    }
}
.discount {
    padding: 20px;
}

.discount-title {
    font-size: 2rem;
}
.discount-cards {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.discount-card {
    padding: 10px;
    background-color: lightcyan;
    margin: 0px 5px;
    border-radius: 10px;
}
.discount-card.first .discount-price {
    color: blueviolet;
}
.discount-card.first .discount-save {
    color: royalblue;
}
.discount-card.first .discount-text {
    color: rgb(16, 16, 150);
}
.discount-card.second .discount-price {
    color: rgb(112, 80, 5);
}
.discount-card.second .discount-save {
    color: rgb(86, 125, 241);
}
.discount-card.second .discount-text {
    color:red;
}
.discount-card.third .discount-price {
    color: rgb(200, 25, 92);
}
.discount-card.third .discount-save {
    color: rgb(179, 0, 164);
}
.discount-card.third .discount-text {
    color: rgb(255, 255, 255);
}
.discount-card.fourth .discount-price {
    color: rgb(242, 129, 173);
}
.discount-card.fourth .discount-save {
    color: rgb(3, 255, 3);
}
.discount-card.fourth .discount-text {
    color: rgb(0, 0, 0);
}
.discount-card.fourth {
    background-color: lightgoldenrodyellow;
}
.discount-card.third {
    background-color: lightslategrey;
}
.discount-card.second {
    background-color: rgb(131, 186, 241);
}
.discount-title {
    margin: 10px 0px;
}
@media screen and (max-width: 1024px){
    .discount-cards {
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .discount-card {
        margin-top: 10px;
    }
}
@media screen and (max-width: 768px){
    .discount-cards {
        display: grid;
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width: 550px){
    .discount-cards {
        display: flex;
        flex-direction: column;
    }
    .product-wel {
        height: 300px;
        width: 200px;
    }
    .product-land {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-wel h1 {
        font-size: 1rem;
    }
}
.filter-product {
    display: flex;
    flex-direction: column;
    padding: 20px;
    list-style: none;
}
.filter-product ul {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
}
.filter-product ul li {
    margin: 10px 0px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: .6s;
}
.filter-product ul li:hover {
    background-color: #000;
}
.filter-title {
    font-size: 3rem;
}
@media screen and (max-width: 1024px){
    .filter-product ul {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto;
    }
    .filter-title {
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 768px){
    .filter-product ul {
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .filter-title {
        font-size: 1rem;
    }
}
.product-image img {
    width: 300px;
    height: 250px;
    border-radius: 5px;
}
.product-card {
    padding: 20px;
    /* width: 300px; */
    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.4);
    margin: 5px;
    margin: 10px 0px;
}
.product-card a {
    color: #000;
}
.product-details {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.product-details span {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: line-through;
}
.all-products {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.product-details h1 {
    font-size: 1rem;
}
.product-card-btn {
    justify-content: center;
    align-items: center;
    display: flex;
}
.product-card-btn button {
    padding: 10px;
    border: 2px solid green;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
.single-product-page {
    display: flex;
    padding: 20px;
}
.product-images img {
    width: 600px;
    height: 500px;
    border-radius: 5px;
}
.products-images img {
    width: 300px;
    height: 300px;
}
.single-details {
    padding: 20px;
}
.single-details .product-name {
    font-size: 1.5rem;
    padding: 15px 0px;
}
.single-price {
    font-size: 1.2rem;
    padding: 15px 0px;
}
.s-details-review {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    font-size: .8rem;
}
.review-amount {
    margin-top: 3px;
    margin-left: 5px;
}
.single-btn {
    display: flex;
    width: 100%;
}
.single-text {
    padding: 20px 0px;
}
.add-to-cart {
    margin-left: 20px;
    padding: 10px 100px;
    cursor: pointer;
    background-color: blueviolet;
    color: #fff;
    border-radius: 4px;
    border: none;
}
.cart-amount-btn {
    padding: 10px 15px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.6);
}
.single-btn {
    padding: 20px 0px;
}
.all-card {
    padding: 10px;
}
.back-btn {
    color: #000;
    padding: 20px;
}
@media screen and (max-width: 1024px){
    .all-products {
        grid-template-columns: auto auto auto;
    }
    .product-card .product-image img {
        width: 250px;
        height: 250px;
    }
}
@media screen and (max-width: 768px){
    .all-products {
        grid-template-columns: auto auto;
    }
    .product-card .product-image img {
        width: 200px;
        height: 200px;
    }
    .product-card .product-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 580px){
    .all-products {
        grid-template-columns: auto;
    }
    .filter-product ul {
        grid-template-columns: auto auto;
    }
    .filter-product ul li {
        background-color: transparent;
        color: #000;
        font-size: .8rem;
    }
    .filter-product ul li:hover {
        background-color: transparent;
    }
}
@media screen and (max-width: 1024px){
    .product-images img {
        width: 450px;
        height:450px;
    }
    .products-images img {
        height: 200px;
        width: 200px;
    }
    .add-to-cart {
        padding: 10px 20px;
        flex-wrap: nowrap;
    }
}
@media screen and (max-width: 768px){
    .product-images img {
        width: 300px;
        height: 300px;
    }
    .products-images img {
        height: 150px;
        width: 150px;
    }
    .single-product-page {
        display: flex;
        flex-direction: column-reverse;
    }
    .single-btn button {
        padding: 10px 15px;
        font-size: .5rem;
    }
    .single-btn .add-to-cart {
        padding: 10px 20px;
    }
    .single-text {
        font-size: .8rem;
    }
}
@media screen and (max-width: 425px){
    .product-images img {
        width: 260px;
        height: 260px;
    }
    .products-images img {
        height: 130px;
        width: 130px;
    }
}