.product-details h1 {
    font-size: .7rem;
}
.product-details {
    justify-content: space-between;
}
.product-edit-btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0px;
}
.product-edit-btn button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-weight: 600;
    font-size: 10px;
}
.product-edit-btn .btn-edit {
    color: lime;
}
.product-edit-btn .btn-delete {
    color: red;
}
.dark .product-edit-btn .btn-delete {
    color: red;
}
.dark .product-edit-btn .btn-edit  {
    color: lime;
}